[Desktop Entry]
Version=1.0
Name=Xfmpc
Name[ca]=Xfmpc
Name[cs]=Xfmpc
Name[da]=Xfmpc
Name[de]=Xfmpc
Name[en_GB]=Xfmpc
Name[es]=Xfmpc
Name[eu]=Xfmpc
Name[fi]=Xfmpc
Name[fr]=Xfmpc
Name[gl]=Xfmpc
Name[id]=Xfmpc
Name[it]=Xfmpc
Name[ja]=Xfmpc
Name[nl]=Xfmpc
Name[pt]=Xfmpc
Name[pt_BR]=Xfmpc
Name[sv]=Xfmpc
Name[tr]=Xfmpc
Name[uk]=Програма Xfmpc
Comment=MPD client written in GTK+ for Xfce
Comment[ca]=Client MPD escrit en GTK+ per a Xfce
Comment[cs]=Klient MPD napsaný v GTK+ pro prostředí Xfce
Comment[da]=MPD-klient skrevet i GTK+ til Xfce
Comment[de]=MPD Client geschrieben in GTK+ für Xfce
Comment[en_GB]=MPD client written in GTK+ for Xfce
Comment[es]=Cliente MPD escrito en GTK+ para Xfce
Comment[eu]=Xfce-ren GTK+en idatzitako MPD bezeroa
Comment[fi]=GTK+-pohjainen MPD-asiakasohjelma Xfce:lle
Comment[fr]=Client MPD écrit en GTK+ pour Xfce
Comment[gl]=Cliente de MPD escrito en GTK+ para Xfce
Comment[id]=Klien MPD ditulis dalam GTK+ untuk Xfce
Comment[it]=Client MPD scritto in GTK+ per Xfce
Comment[ja]=Xfce 向けの GTK+ で書かれた MPD クライアントです。
Comment[nl]=MPD client geschreven in GTK+ voor Xfce
Comment[pt]=Cliente MPD escrito em GTK+ para o Xfce
Comment[pt_BR]=Cliente MPD escrito em GTK+ para o Xfce
Comment[sv]=MPD-klient skriven i GTK+ för Xfce
Comment[tr]=Xfce için GTK+ ile yazılmış MPD istemcisi
Comment[uk]=Клієнт MPD написаний в GTK+ для Xfce
GenericName=MPD client
GenericName[ca]=Client MPD
GenericName[cs]=Klient MPD
GenericName[da]=MPD-klient
GenericName[de]=MPD Client
GenericName[en_GB]=MPD client
GenericName[es]=Cliente MPD
GenericName[eu]=MPD bezeroa
GenericName[fi]=MPD-asiakasohjelma
GenericName[fr]=Client MPD
GenericName[gl]=Cliente de MPD
GenericName[id]=Klien MPD
GenericName[it]=Client MPD
GenericName[ja]=MPD クライアント
GenericName[nl]=MPD client
GenericName[pt]=Cliente MPD
GenericName[pt_BR]=Cliente MPD
GenericName[sv]=MPD-klient
GenericName[tr]=MPD istemcisi
GenericName[uk]=Клієнт MPD
Exec=xfmpc
Icon=stock_volume
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Audio;Player;
StartupNotify=true
